/* color = background-color: rgb(241, 48, 209); 
#header{
    background-color:  color;
}
#content-main{
     background-color:  color;
}
.module h2, .module caption, .inline-group h2{
    background-color:  color;
} */