{% extends "base.html" %}

<!-- Этот  шаблон  будет  формировать  список  всех  курсов.  Мы  создаем  список 
предметов Subject -->
{% block title %}
  {% if subject %}
    {{ subject.title }}  
  {% else %}
   Все курсы
  {% endif %}
{% endblock %}
{% block content %}
  <h1>
    {% if subject %}
    {{ subject.title }}  
    {% else %}
      Все курсы
    {% endif %}
  </h1>
  <div class="contents"> 
    <ul id="modules">
     
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <a href="{% url 'course_list_subject' s.slug %}">
            {{ s.title }} 
            <br><span>{{ s.total_courses }} Курса</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="module">
  {% if courses  %}
  {% for course in courses %}
    {% with subject=course.subject %}
      <h3><a href="{% url 'course_detail' course.slug %}">
      {{ course.title }}</a></h3>
      <p>
        <a href="{% url 'course_list_subject' subject.slug %}">
        {{ subject }}</a>.
        {{ course.total_modules }} модулей.
        Преподаватель: {{ course.owner.get_username }}
      </p>
    {% endwith %}
  {% endfor %}
  {% else %}
  {% block welcome %}<div>
  <h1>Полнофункциональное приложение c авторизацией и правами доступа на основе
   ролей с использованием наиболее популярных инструментов 
   и технологий Python: Django, Django MTV, Security, 
   REST(JSON), Bootstrap (css), datatables MYSQL, jQuery, js.</h1>
   <strong>Технологии:</strong>
   <ul><li>Django, CMS, Система регистрации и управления пользователей , Наборы форм</li>
   <li>Кеширование-Memcached</li>
   <li> База данных-MYSQL, ORM - Django, Ajax - сохранение в бд,импорт-экспорт sqlite,MYSQL, postgress c помощью fixtures</li>
   <li>примеси django-braces</li>
   <li>Порядок модулей и содержимого drag-m-drop (виджет JavaScript)</li>
    <li>Единый интерфейс для формирования  
      шаблонов содержимого разных типов</li>
     
      <li>Deploy : pythonanywhere.com</li>
      <li>RESTful api  (реализация получения курсов)
        c аунтификацией(для зачисления на курс)</li>
  </ul>  
  <div class="row"><div class="col">
    <ul><li>
       <a href="/students/register/">Регистрация студента и подписка на курсы</a></li>
    <li><a href="/course/mine/">Настройка модулей Учитель</a>
    Login:Teacher ; Password:1234qwer ;</li>
    <!-- <li><a href="/admin/">Admin</a></li> -->
  
     </ul></div><div class="col">
    
    <ul><strong>RESTful api:</strong>
    <li>Список всех предметов <a href="{% url 'api:subject_list' %}">/api/Subject/</a></li>
    <li>Детали предмета: <a href="{% url 'api:subject_detail' 1 %}">/api/Subject/1</a></li> 
    <li>Cписок курсов: <a href="{% url 'api:subject_detail' 1 %}">/api/courses/</a></li>
    <li>Детали курса <a href="{% url 'api:subject_detail' 1 %}">/api/courses/1</a></li>
    <li>Зачисление на курс:<a href="{% url 'api:subject_detail' 1 %}">/courses/1/enroll/</a></li>

  </ul></div>
</div></div>{% endblock %}
  {%endif %}
</div>
{% endblock %}
 