{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Educa{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/rem.css' %}" rel="stylesheet">
  <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
  <div class="hight"> 
    <div class="hight__logo">
      <span>Библиотека</span> </div>
      
   </div></div></div>
   <div class="hight__blok"> 
</div>
<div class="content">
   <div class="content__rich"><span> Обучалкин</span></div>
   <h4>Онлайн школа</h4><a href="{% url 'index' %}">Поехали...</a></div> 
   <div class="datas"><p>Приложение курсов обучения с правами доступа
        Технологии: Django, CMS,Система Регистрации пользователей,
         Наборы форм, Кеширование, Postgress,
        примеси django-braces, Порядок модулей и содержимого drag-m-drop (виджет JavaScript),
        Ajax - сохранение в бд. RESTful api(реализация получения курсов)</p>
         
        
      </div>
  </body>
</html>