{% block welcome %}<div class="col-sm-8 themed-grid-col">
    <p><h1>Приложение курсов обучения с правами доступа.</h1>
      <strong>Технологии:</strong> Django, CMS,Система Регистрации пользователей,
     Наборы форм, Кеширование-Memcached, Базы данных-Postgress,
    примеси django-braces, Порядок модулей и содержимого drag-m-drop (виджет JavaScript),
    Ajax - сохранение в бд, управление доступом пользователей
    Единый интерфейс для формирования  <a href="{% url 'api:subject_list' %}">RESTful api</a> (реализация получения курсов)
    c аунтификацией(для зачисления на курс), управление доступом пользователей
    Единый интерфейс для формирования  
    шаблонов содержимого разных типов</p>
    <div><div class="ul">
    <ul>
    <li>Список всех предметов <a href="{% url 'api:subject_list' %}">http://127.0.0.1:8000/api/Subject/</a></li>
    <li>Детали предмета:     <a href="{% url 'api:subject_detail' 1 %}"></a> http://127.0.0.1:8000/api/Subject/1</a></li>
    <li>Cписок курсов: <a href="{% url 'api:subject_detail' 1 %}">http://127.0.0.1:8000/api/courses/</a></li>
    <li>Детали курса <a href="{% url 'api:subject_detail' 1 %}"> http://127.0.0.1:8000/api/courses/1</a></li>
    <li>Зачисление на курс:<a href="{% url 'api:subject_detail' 1 %}">  http://127.0.0.1:8000/api/courses/1/enroll/</a></li>

  </ul></div><div class="ul">
  <ul><li>
     <a href="http://127.0.0.1:8000/students/register/">Регистрация студента</a></li>
  <li><a href="  http://127.0.0.1:8000/course/mine/">Настройка модулей Учитель</a></li>
  <li><a href="  http://127.0.0.1:8000/admin/">Admin</a></li>

  <li></li>
  <li></li></ul></div>
</div></div>{% endblock %}